<header>
  <h1>bch chicken</h1>
  <p>Overseas Business</p>
  <ul>
    <li>로그인</li>
    <li>아이디등록</li>
  </ul>
  <ul>
    <li>
      <a href="#">메뉴소개</a>
    </li>
    <li>
      <a href="#">매장소개</a>
    </li>
    <li>
      <a href="#">창업정보</a>
    </li>
    <li>
      <a href="#">BCH소식</a>
    </li>
    <li>
      <a href="#">BCH소개</a>
    </li>
    <li>
      <a href="#">고객센터</a>
    </li>
    <li>
      <a href="#">E쿠폰안내</a>
    </li>
    <li>
      <a href="#">HMR/펫푸드</a>
    </li>
  </ul>
  <div>
    <p>주문전화</p>
    <p>1234-!@#$</p>
  </div>
</header>
