<header>
  <h1 class="title">
    <a href="#">
      SOP
      <p>chicken</p>
    </a>
  </h1>
  <p class="tnb overseas-business">Overseas Business</p>
  <ul class="tnb">
    <li>로그인</li>
    <li>아이디등록</li>
  </ul>
  <ul class="gnb">
    <li>
      <a href="#">메뉴소개</a>
    </li>
    <li>
      <a href="#">매장소개</a>
    </li>
    <li>
      <a href="#">창업정보</a>
    </li>
    <li>
      <a href="#">SOP소식</a>
    </li>
    <li>
      <a href="#">SOP소개</a>
    </li>
    <li>
      <a href="#">고객센터</a>
    </li>
    <li>
      <a href="#">E쿠폰안내</a>
    </li>
    <li>
      <a href="#">HMR/펫푸드</a>
    </li>
  </ul>
  <div class="call-number">
    <p>주문전화</p>
    <p>3.141-5926</p>
  </div>
</header>
