<section>
  <swiper [navigation]="true" class="mySwiper">
    <ng-template swiperSlide>
      <a href="#" onclick="return false;">
        <img src="../../assets/images/main-slide1.jpg" alt="slide1" />
      </a>
    </ng-template>
    <ng-template swiperSlide>
      <a href="#" onclick="return false;">
        <img src="../../assets/images/main-slide2.jpg" alt="slide1" />
      </a>
    </ng-template>
    <ng-template swiperSlide>
      <a href="#" onclick="return false;">
        <img src="../../assets/images/main-slide3.jpg" alt="slide1" />
      </a>
    </ng-template>
  </swiper>
</section>
